.left-content
  .user-box
    %p
      =current_user.name
    = link_to(fa_icon("cog"),edit_user_path(current_user.id))
    = link_to(fa_icon("edit"),new_group_path)
  .group-box
    = render partial:'shared/group-box'

.right-content
  .header-box
    .header-box__left
      .header-box__left__group-name
        =@group.name
      .header-box__left__members member:aaa,bbb
    =link_to("Edit",edit_group_path(params[:group_id]),class:'header-box__right')
  .message-area
    = render partial:'shared/message-area'
  .footer
    .form
      = form_for [@group, @message] do |f|
        .input-box
          = f.text_field :comment ,placeholder:'type a message',class:'input'
          %label
            = fa_icon("photo")
            = f.file_field :image,class: 'input'
        = f.submit class:'send-botton',value:'Send'
